 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(64,64,64,0.65), rgba(64,64,64,0.65)), url("images/556724.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1425px;
}

.u-section-1 .u-image-1 {
  width: 283px;
  height: 283px;
  margin: 0 auto;
}

.u-section-1 .u-custom-html-1 {
  margin-top: 21px;
  margin-bottom: 0;
  height: auto;
  min-height: 69px;
}

.u-section-1 .u-image-2 {
  width: 183px;
  height: 183px;
  margin: 21px auto 0 48px;
}

.u-section-1 .u-image-3 {
  width: 183px;
  height: 183px;
  margin: -183px auto 0 483px;
}

.u-section-1 .u-image-4 {
  width: 183px;
  height: 183px;
  margin: -183px auto 0 909px;
}

.u-section-1 .u-image-5 {
  width: 183px;
  height: 183px;
  margin: -183px auto 0 261px;
}

.u-section-1 .u-image-6 {
  width: 183px;
  height: 183px;
  margin: -183px auto 0 696px;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  background-image: none;
  margin: 7px auto 0 473px;
  padding: 10px 15px 10px 14px;
}

.u-section-1 .u-btn-2 {
  --radius: 50px;
  background-image: none;
  margin: -45px auto 0 922px;
  padding: 10px 15px 10px 14px;
}

.u-section-1 .u-btn-3 {
  --radius: 50px;
  background-image: none;
  margin: -45px auto 0 48px;
  padding: 10px 15px 10px 14px;
}

.u-section-1 .u-btn-4 {
  --radius: 50px;
  background-image: none;
  margin: -45px auto 0 302px;
  padding: 10px 15px 10px 14px;
}

.u-section-1 .u-btn-5 {
  --radius: 50px;
  background-image: none;
  margin: -45px auto 0 708px;
  padding: 10px 15px 10px 14px;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 111px auto 0;
}

.u-section-1 .u-custom-html-2 {
  height: auto;
  min-height: 160px;
  margin-top: 30px;
  margin-bottom: 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1175px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 22px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 22px;
    margin-left: -20px;
  }

  .u-section-1 .u-image-3 {
    margin-left: auto;
  }

  .u-section-1 .u-image-4 {
    margin-left: 777px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 179px;
  }

  .u-section-1 .u-image-6 {
    margin-left: 578px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -7px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -46px;
    margin-left: -20px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: 220px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 192px;
    margin-left: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 4.5rem;
    width: auto;
    margin-top: 57px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 57px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1324px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 13px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 248px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -421px;
  }

  .u-section-1 .u-image-4 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-5 {
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    margin-top: 55px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -238px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 13px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 193px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -283px;
    margin-left: 41px;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 193px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1437px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 6px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 269px;
    margin-left: -41px;
  }

  .u-section-1 .u-image-3 {
    margin-top: -432px;
  }

  .u-section-1 .u-image-4 {
    margin-right: -40px;
  }

  .u-section-1 .u-image-5 {
    margin-left: -41px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 66px;
    margin-right: -39px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -249px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: -27px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 204px;
    margin-left: -41px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -294px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 204px;
    margin-right: -26px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
    margin-top: 68px;
    margin-left: 35px;
    margin-right: 35px;
  }

  .u-section-1 .u-custom-html-2 {
    margin-top: 52px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1918px;
  }

  .u-section-1 .u-custom-html-1 {
    margin-top: 29px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 930px;
    margin-left: auto;
  }

  .u-section-1 .u-image-3 {
    margin-top: -1094px;
  }

  .u-section-1 .u-image-4 {
    margin-top: 274px;
    margin-right: auto;
  }

  .u-section-1 .u-image-5 {
    margin-top: -412px;
    margin-left: auto;
  }

  .u-section-1 .u-image-6 {
    margin-top: 274px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -685px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 412px;
    margin-right: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 409px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -727px;
    margin-left: auto;
  }

  .u-section-1 .u-btn-5 {
    margin-top: 411px;
    margin-right: auto;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    margin-top: 273px;
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-custom-html-2 {
    min-height: 188px;
    margin-top: 28px;
  }
}