 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 242px;
}

.u-section-1 .u-text-1 {
  margin: 16px 85px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 191px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -3527px;
    margin-bottom: -3527px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -6179px;
    margin-bottom: -6179px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -8155px;
    margin-bottom: -8155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin: -15063px 0;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 345px;
}

.u-section-2 .u-group-1 {
  width: 957px;
  min-height: 315px;
  height: auto;
  --radius: 50px;
  margin: 15px auto 3px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 50px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px 50px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-2 .u-text-2 {
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 357px;
  }

  .u-section-2 .u-group-1 {
    width: 720px;
    margin-bottom: 15px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-group-1 {
    width: 540px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-group-1 {
    width: 340px;
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 50px;
    margin-left: 0;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 952px;
}

.u-section-3 .u-group-1 {
  min-height: 922px;
  height: auto;
  --radius: 50px;
  width: 957px;
  margin: 15px auto;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 940px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-group-1 {
    width: 720px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-group-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-group-1 {
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 188px;
}

.u-section-4 .u-shape-1 {
  width: 957px;
  --radius: 50px;
  height: 158px;
  margin: 15px auto 0;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  font-size: 4.5rem;
  margin: -118px auto 54px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-shape-1 {
    width: 940px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-4 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-shape-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-shape-1 {
    width: 540px;
  }

  .u-section-4 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-shape-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 442px;
}

.u-section-5 .u-group-1 {
  width: 957px;
  min-height: 412px;
  height: auto;
  --radius: 50px;
  margin: 15px auto -189px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 0 0;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 50px;
}

.u-section-5 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px 50px 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-5 .u-text-2 {
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-5 .u-group-1 {
    width: 720px;
    margin-bottom: -138px;
  }

  .u-section-5 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 640px;
  }

  .u-section-5 .u-group-1 {
    width: 540px;
    margin-bottom: 9px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 646px;
  }

  .u-section-5 .u-group-1 {
    width: 340px;
    margin-bottom: 15px;
  }

  .u-section-5 .u-text-1 {
    margin-left: 0;
  }

  .u-section-5 .u-text-2 {
    margin-right: 50px;
    margin-left: 0;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-6 .u-group-1 {
  min-height: 1098px;
  height: auto;
  --radius: 50px;
  width: 957px;
  margin: 15px auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 15px 0;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 15px auto 0 50px;
}

.u-section-6 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px 50px 0;
}

.u-section-6 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 25px auto 0;
}

.u-section-6 .u-btn-2 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  margin: 14px auto 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-6 .u-text-2 {
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-group-1 {
    width: 720px;
  }

  .u-section-6 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-group-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-group-1 {
    width: 340px;
    min-height: 2733px;
  }

  .u-section-6 .u-text-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-6 .u-text-2 {
    margin-right: 50px;
    margin-left: 0;
  }

  .u-section-6 .u-btn-1 {
    margin-top: 26px;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 615px;
}

.u-section-7 .u-group-1 {
  width: 957px;
  min-height: 585px;
  height: auto;
  --radius: 50px;
  margin: 15px auto -68px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-7 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 50px;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px 50px 0;
}

@media (max-width: 1199px) {
  .u-section-7 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-7 .u-text-2 {
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-7 .u-group-1 {
    width: 720px;
    margin-bottom: 2px;
  }

  .u-section-7 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 698px;
  }

  .u-section-7 .u-group-1 {
    width: 540px;
    margin-bottom: 15px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-group-1 {
    width: 340px;
  }

  .u-section-7 .u-text-1 {
    margin-left: 0;
  }

  .u-section-7 .u-text-2 {
    margin-right: 50px;
    margin-left: 0;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 281px;
}

.u-section-8 .u-group-1 {
  width: 957px;
  min-height: 251px;
  height: auto;
  --radius: 50px;
  margin: 15px auto -350px;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 0 auto 0 50px;
}

.u-section-8 .u-text-2 {
  font-size: 1.25rem;
  font-weight: 700;
  margin: 15px 50px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-8 .u-text-2 {
    margin-right: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 299px;
  }

  .u-section-8 .u-group-1 {
    width: 720px;
    margin-bottom: -332px;
  }

  .u-section-8 .u-text-2 {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 318px;
  }

  .u-section-8 .u-group-1 {
    width: 540px;
    margin-bottom: -313px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 465px;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
    margin-bottom: -166px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-text-2 {
    margin-right: 50px;
    margin-left: 0;
  }
}